<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
<style type="text/css">
    {% include "stylesheet.css" %}


</style>
<script src="https://cdn.jsdelivr.net/npm//vega@3.3.1"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-lite@2.4.3"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-embed@3.11"></script>

{{ pagedown.include_pagedown() }}
<body>

<div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
</div>
<div style="width: 500px;">

    <form method="POST">
        {{ form.hidden_tag() }}


        <!-- TEKSTFELT 1 -->
        <div>
            {% if data == None %}
                <b>{{ form.tekstfelt1.label }}</b>:
                {{ form.tekstfelt1(rows=10, style='width:100%') }}
            {% else %}
                {{ text[0] }}
            {% endif %}

            <div>
                {% if graph_data[0] is defined %}
                    {% if graph_data[0].type == 'figur' %}
                        <div id="vis0" class="graph"></div>
                        <script type="text/javascript">
                            vegaEmbed("#vis0", {{ graph_data[0].data | safe}}, {
                                "actions": false
                            }).catch(error => showError(el, error));
                        </script>
                    {% else %}
                        {{ graph_data[0].data | safe }}
                    {% endif %}

                {% endif %}


            </div>

        </div>


        <br>


        <!-- TEKSTFELT 2 -->
        <div>
            {% if data == None %}
                <b>{{ form.tekstfelt2.label }}</b>:
                {{ form.tekstfelt2(rows=10, style='width:100%') }}
            {% else %}
                {{ text[1] }}
            {% endif %}

            <div>
                {% if graph_data[1] is defined %}
                    {% if graph_data[1].type == 'figur' %}
                        <div id="vis1" class="graph"></div>
                        <script type="text/javascript">
                            vegaEmbed("#vis1", {{ graph_data[1].data | safe}}, {
                                "actions": false
                            }).catch(error => showError(el, error));
                        </script>
                    {% else %}
                        {{ graph_data[1].data | safe }}
                    {% endif %}

                {% endif %}


            </div>

        </div>


        <br>


        <!-- KONKLUSION -->
        <div>
            {% if data == None %}
                <b>{{ form.konklusion.label }}</b>:
                {{ form.konklusion(rows=10, style='width:100%') }}
            {% else %}
                {{ konklusion }}
            {% endif %}
        </div>

        {% if data == None %}
            <div>{{ form.submit() }}</div>
        {% endif %}
    </form>


</div>

<section class="section">
    <div class="container">
        <footer class="footer">
            <hr>
            <span class="no-print fadeshow_1">
              <svg class="icon_dark" style="width: 200px">
                  <path id="ballon-path" fill="none" stroke="transparent" stroke-miterlimit="10"
                        d="M62.9,6.9c-1.4-0.4-2.8-0.8-4.2-1.2C50.7,3.2,42,1.4,32.8,0.7c-8.2-0.6-16.5-0.1-24,1.8C5,3.5,0.5,4.9,0.5,7.3c0,4,16.2,9.4,34.8,7.1C62.2,11.2,64.3,2.1,95.8,1.6c8.3-0.1,17-0.1,25.1,1c4.1,0.6,9.8,1.6,10.6,4.1c1.9,5.8-20.8,5.5-27.5,5.6c-6.3,0.1-12.6-0.2-18.8-0.8C77.2,10.6,69.9,8.9,62.9,6.9z"/>
                  <path id="ballon"
                        d="M57,29.6C57,14.9,45.2,3,30.3,3S3,14.9,3,29.6c0,5.9,2.5,11.8,6.2,16.6l12.6,22.6h-0.1l0.7,9.1h15.6l0.7-9.1h-0.1l13.4-24.8C55.1,39.7,57,34.7,57,29.6z M8.7,30.3C8.1,12.4,26,5.2,29.6,3.9c-16.7,23.5-3.1,48.3,0,53.5C26.2,55.9,9.3,47.5,8.7,30.3z M22.7,68.9l-11.1-20c3.7,3.9,8.1,6.8,12.5,8.3l3.3,11.6H22.7z M28.1,68.9l-3.2-11.4c1.8,0.6,3.7,0.9,5.4,0.9c1.7,0,3.6-0.4,5.5-1l-3.3,11.6H28.1z M37.9,68.9h-4.7L36.6,57c4.5-1.8,9.1-5.1,12.8-9.4L37.9,68.9z M30.9,57.4c3.2-5.1,16.8-30,0.1-53.5c3.6,1.4,20.9,8.7,20.3,26.4C50.7,47.7,34.3,55.9,30.9,57.4z"/>
                  <animateMotion xlink:href="#ballon" dur="25s" begin="0s" fill="freeze" repeatCount="indefinite">
                      <mpath href="#ballon-path"/>
                  </animateMotion>
              </svg>
              <svg class="icon_dark" viewBox="0 0 150 150"> <!-- bygninger -->
                  <path d="M94,24v-3c0-0.7-1.3-1-2-1H54c-0.5-0.1-0.9,0.2-1,0.7c0,0.1,0,0.2,0,0.3v3H94z"/>
                  <path d="M98,26H48c-0.5-0.1-0.9,0.2-1,0.7c0,0.1,0,0.2,0,0.3V125h16v-16.8h21V125h15V26.9c0.1-0.5-0.2-0.9-0.7-1C98.2,25.9,98.1,25.9,98,26z M60,98.3h-9V79.4h9V98.3z M60,75.5h-9V56.7h9V75.5z M60,53.7h-9V34.9h9V53.7z M72,98.3h-9V79.4h9V98.3z M72,75.5h-9V56.7h9V75.5z M72,53.7h-9V34.9h9V53.7z M84,98.3l-9-0.1V79.4h9V98.3z M84,75.5h-9V56.7h9V75.5z M84,53.7h-9V34.9h9V53.7z M96,98.3h-9V79.4h9V98.3z M96,75.5h-9V56.7h9V75.5z M96,53.7h-9V34.9h9V53.7z"/>
                  <path d="M29,9V1H7v8H2.9c-1,0.1-1.8,1-1.9,2v114h34V11c-0.1-1.1-0.9-1.9-2-2H29z M31,105H5v-4h26V105z M31,95H5v-4h26V95z M31,85H5v-4h26V85z M31,74H5v-4h26V74z M31,64H5v-4h26V64z M31,54H5v-4h26V54z M31,44H5v-4h26V44z M31,34H5v-4h26V34z M31,24H5v-4h26V24z"/>
              </svg>
              <svg class="icon_dark" viewBox="-50 -50 150 150"> <!--Huset-->
                  <path d="M25.8,25.9c0.3-1,0.5-2,0.5-3.1c0-4.2-2.8-7.8-6.4-8.4c0.9-1.5,1.4-3.2,1.4-5c0.1-3.7-2.2-7.1-5.7-8.2C15,1.1,14.4,1,13.8,1C9.7,1,6.3,4.7,6.3,9.4c0,1.4,0.3,2.7,0.8,3.9c-2.6,1.6-4.1,4.4-4,7.4c0,1.9,0.6,3.7,1.6,5.3c-2.4,1.6-3.8,4.4-3.8,7.3c-0.1,3.3,1.7,6.4,4.7,7.9c0.2,4.1,3.3,7.4,7.3,8L10,80h8.9l-1-15.9l3.5-6.5l-0.5-1.9L17.5,58l-0.7-9.7c2.3-1.5,3.7-4,3.8-6.7c0.6,0.2,1.3,0.3,1.9,0.3c4.1,0,7.5-3.7,7.5-8.4C30.1,30.4,28.5,27.5,25.8,25.9z M15.5,30.4v0.2V30.4L15.5,30.4z"/>
                  <path d="M99,46l-12-8v-9h-6v5l-11-7L42,45v7l3-1v29h31V54h14v26h6V51l3,1V46z M57,67h-4v-8h4V67z M57,58h-4v-4h4V58zM62,67h-4v-8h4V67z M62,58h-4v-4h4V58z"/>
                  <path d="M86.8,66.9c-0.8,0-1.4,0.6-1.4,1.4c0,0,0,0,0,0l0,0c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4C88.2,67.5,87.6,66.9,86.8,66.9L86.8,66.9z"/>
              </svg>
              <svg class="icon_dark" viewBox="-70 -70 150 150"> <!-- Bden-->
                  <path d="M57.3,54.7c0-1.7,0.3-3.2-2.9-3.2L38,50V6.4C38,5.6,37.4,5,36.6,5s-1.4,0.6-1.4,1.4v43.3L2.5,46.8l8.2,10.9c1.1,1.4,2.7,2.3,4.5,2.3l42.3,0L57.3,54.7z"/>
                  <path d="M2.5,42.3c0,0,19.2-7.7,31.3,2.8c0,0-6-19.2-0.3-38.8C33.5,6.4,18.7,10.7,2.5,42.3z"/>
                  <path d="M39.2,6.4c0,0,6.5,24.3,0.3,38.8c5.8-2.8,12.8-1.9,17.7,2.3C57.2,47.4,55.6,26.6,39.2,6.4z"/>
              </svg>
          </span>
        </footer>

    </div>
</section>


<script> <!-- PROGRESS BAR -->
window.onscroll = function () {
    myFunction()
};

function myFunction() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.width = scrolled + "%";
}
</script> <!-- PROGRESS BAR END -->

</body>

</html>
