<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
<style type="text/css">
    {% include "stylesheet.css" %}
</style>

<script src="https://cdn.jsdelivr.net/npm//vega@3.3.1"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-lite@2.4.3"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-embed@3.11"></script>

{{ pagedown.include_pagedown() }}

<body>
<div style="width: 500px;">

    <form method="POST">

        {{ form.hidden_tag() }}

        <div>

            {% for i in form_fields %}
                {% if not form.is_submitted() %}
                    {{ form[i](rows=10, style='width:100%') }}
                {% else %}
                    {{ text[loop.index0] }}
                {% endif %}


                {% if graph_data[loop.index0] is defined %}
                    {% if graph_data[loop.index0].type == 'figur' %}
                        <div id="vis{{ loop.index0 }}" class="graph"></div>
                        <script type="text/javascript">
                            vegaEmbed("#vis{{ loop.index0 }}", {{ graph_data[loop.index0].data | safe}}, {
                                "actions": false
                            }).catch(error => showError(el, error));
                        </script>
                    {% else %}
                        {{ graph_data[loop.index0].data | safe }}
                    {% endif %}
                {% endif %}
                <br>
            {% endfor %}

            {% if not form.is_submitted() %}
                {{ form.conclusion(rows=10, style='width:100%') }}
            {% else %}
                {{ conclusion }}
            {% endif %}


            {% if not form.is_submitted() %}
                {{ form.submit() }}
            {% endif %}
        </div>
    </form>


</div>
{% include 'footer.css' %}
</body>
</html>
